* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: antiquewhite;
}

.navbar,h1,.list,
.list-item,
a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    background-color: honeydew;
    font-family: 'Gill Sans', 
    'Gill Sans MT', 
    Calibri, 
    'Trebuchet MS', 
    sans-serif;
}

.list-item,a:hover{
    color: brown;
    transform: translateY(-3px);
}


.logoName,a{
    display: flex;
    text-decoration: none;
    color: #141414;
}
h1{
    margin-right: 280px;
    font-family:cursive;
    font-size: 40px;
}
h3{
    margin-right: 150px;
    font-family:cursive;
    font-size: 25px;
    background-color:honeydew;
}


.img-container6,.img6{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: transparent;
    margin-bottom: -200px;
    margin-left: -600px;
}

.img-container8,.img8{
    display: flex;
    justify-content: center;
    margin-top: 245px;
    background-color: transparent;
    margin-bottom: -120px;
    margin-left: 200px;
}
.img-container9,.img9{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    background-color: transparent;
    margin-bottom: -130px;
    margin-left: 100px;
}

#img_6{
    display: flex;
    justify-content: center;
    margin-top: 70px;
    background-color: transparent;
    margin-bottom: -250px;
    margin-left: 1050px;
}


.content,
.text-content,
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414;
    margin-bottom: -370px;
    font-size: 15px;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande',
    'Lucida Sans Unicode', 
    Geneva, Verdana, 
    sans-serif;
    background-color: transparent;
    margin-left: -500px;
}



.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #141414;
    background-color: transparent;
    margin-bottom: -95px;
    margin-top: 200px;
    margin-left: 130px;
}

.content2,
.text-content2,
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414;
    margin-bottom: -190px;
    font-size: 15px;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande',
    'Lucida Sans Unicode', 
    Geneva, Verdana, 
    sans-serif;
    background-color: transparent;
    margin-left: 160px;
}



.offer2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #141414;
    background-color: transparent;
    margin-bottom: -95px;
    margin-top: 200px;
}

.founder{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414;
    font-size: 3.3rem;
    margin-top: 450px;
    margin-left: -400px;
    background-color: transparent;

}


.content3,
.text-content3,
p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #141414;
    margin-bottom: -150px;
    font-size: 15px;
    font-family: 'Lucida Sans', 
    'Lucida Sans Regular', 
    'Lucida Grande',
    'Lucida Sans Unicode', 
    Geneva, Verdana, 
    sans-serif;
    background-color: transparent;

}
.text-content3{
    margin-left:-840px;
    margin-top: -130px;
}

.img-container,img{
    display: flex;
    justify-content: center;
    margin-top: 170px;
    background-color: transparent;
    margin-bottom: -450px;
}


.founder,.offer {
    opacity: 0; 
    animation: fadeIn 2s ease-in-out forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}


ul.icons {
    cursor: default;
    margin-left: 1000px;
    background-color: transparent;
}

    ul.icons li, a {
        display: inline-block;
        background-color: transparent;
    }
.icons{
    margin-top: -100px;

}
/*footer*/
.footer-container{
    margin-top: 300px;
}
.navbar2,.list2,
.list-item2,
#nav2 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    margin-bottom: 15px;
    background-color: transparent;
    font-family: 'Gill Sans', 
    'Gill Sans MT', 
    Calibri, 
    'Trebuchet MS', 
    sans-serif;
}
h4{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
    background-color: transparent;
    font-family: 'Gill Sans', 
    'Gill Sans MT', 
    Calibri, 
    'Trebuchet MS', 
    sans-serif;
}
h6{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: medium;
    font-weight: lighter;
    background-color: transparent;
    font-family: 'Gill Sans', 
    'Gill Sans MT', 
    Calibri, 
    'Trebuchet MS', 
    sans-serif;
    padding: 10px;
}
h5{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    font-size: larger;
    font-weight: lighter;
    background-color: transparent;
    font-family: 'Gill Sans', 
    'Gill Sans MT', 
    Calibri, 
    'Trebuchet MS', 
    sans-serif;
}
.copyright.h6{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    font-size: small;
    font-weight: lighter;
    background-color: transparent;
    font-family: 'Gill Sans', 
    'Gill Sans MT', 
    Calibri, 
    'Trebuchet MS', 
    sans-serif;
}