* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: burlywood;
}

.navbar,h1,.list,
.list-item,
a {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 0;
    text-decoration: none;
    list-style: none;
    color: black;
    background-color:honeydew;
}



.logoName,a{
    display: flex;
    text-decoration: none;
    color: #141414;
}
h1{
    margin-right: 280px;
    font-family:cursive;
    font-size: 40px;
}
h3{
    margin-right: 130px;
    font-family:cursive;
    font-size: 25px;
    background-color:honeydew;
}

.img-container,img{
    display: flex;
    justify-content: center;
    margin-top: 79px;
    background-color: transparent;
    margin-bottom: -450px;
}



.offer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    color: #141414;
    background-color: burlywood;
    margin-bottom: -95px;
    margin-top: 50px;
}

#founders,img{
    display: flex;
    margin-top: 250px;
    margin-left: 600px;
}
#accel,img{
    display: flex;
    margin-top: 150px;
    margin-left: 750px;
}
#sequoia,img{
    display: flex;
    margin-top: 350px;
    margin-left: 350px;
}