<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
     href="static/menu.css">
    <title>Website</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="logoName">
          <a href="http://127.0.0.1:8000/">Coffee Shop</a></h1>
        <h3>Morning coffee?</h3>
        <ul class="list">
            <li class="list-item">
                <a href="#">About</a>
            </li>
        </ul>
        <ul class="list">
            <li class="list-item">
                <a href="#">Menu</a>
            </li>
        </ul>
        <ul class="list">
            <li class="list-item">
                <a href="#">Contact</a>
            </li>
        </ul>
        <ul class="list">
            <li class="list-item">
                <a href="#">Sponsors</a>
            </li>
        </ul>
        <ul class="list">
            <li class="list-item">
                <a href="#">Careers</a>
            </li>
        </ul>
    </nav>
        <h3 class="offer">~Menu~</h3>
    <div class="content">
        <ul class="text-content">
            <p><strong>
                Vanilla Iced Coffee:<br>
            </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos iusto quod fugiat non aspernatur, animi recusandae deserunt odit dolor. Tempora, ipsam laudantium? Minus iusto rem est aliquid qui dolorum?<strong><br>$15.99</strong></p>
            <p><strong>
                Strawberry Lemonade:<br>
            </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos iusto quod fugiat non aspernatur, animi recusandae deserunt odit dolor. Tempora, ipsam laudantium? Minus iusto rem est aliquid qui dolorum?<strong><br>$13.98</strong></p>
            <p><strong>
                Irish Earl Grey Tea:<br>
            </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos iusto quod fugiat non aspernatur, animi recusandae deserunt odit dolor. Tempora, ipsam laudantium? Minus iusto rem est aliquid qui dolorum?<strong><br>$10.98</strong></p>
            <p><strong>
                Dark Roasted Coffee:<br>
            </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos iusto quod fugiat non aspernatur, animi recusandae deserunt odit dolor. Tempora, ipsam laudantium? Minus iusto rem est aliquid qui dolorum?<strong><br>$16.98</strong></p>
            <p><strong>
                Prime Hot Chocolate:<br>
            </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos iusto quod fugiat non aspernatur, animi recusandae deserunt odit dolor. Tempora, ipsam laudantium? Minus iusto rem est aliquid qui dolorum?<strong><br>$12.99</strong></p>
            <p><strong>
                Caramel Iced Coffee:<br>
            </strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dignissimos iusto quod fugiat non aspernatur, animi recusandae deserunt odit dolor. Tempora, ipsam laudantium? Minus iusto rem est aliquid qui dolorum?<strong><br>$11.99</strong></p>
        </ul>
    </div>
        <h3 class="team">Serving coffee everyday 7am-4pm</h3>
    <div class="team-content">
        <ul class="text-team-content">
            <button class="btn" type="button">
                <a href="#">EXPLORE NOW</a>
            </button>
        </ul>
        <ul class="text-team-content2">
            <button class="btn2" type="button">
                <a href="#">ORDER ONLINE</a>
            </button>
        </ul>
        
    </div>
    <h3 class="us">~Contact Us~</h3>
    <footer id="footerID">
        <div class="contact">
            <p><strong>Address: </strong>1024 SE 14th St</p>
            <p><strong>Phone: </strong>892-272-1155</p>
            <p><strong>Email: </strong>CoffeeShop@Gmail.com</p>
        </div>
    </footer>
    <div class="copyright">
        <p>@All Rights Reserved CoffeeShopInc</p>
    </div>
</body>
</html>