<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title>About</title>
</head>
<body>

    <nav class="navbar">
        <h1 class="logoName">𓎩
          <a href="http://127.0.0.1:8000/">Coffee Shop</a></h1>
        <h3>☕︎</h3>
        <ul class="list">
            <li class="list-item">
                <a href="about.html">About</a>
            </li>
            <li class="list-item">
                <a href="contact.html">Subscribe</a>
            </li>
            <li class="list-item">
                <a href="menu.html">Menu</a>
            </li>
            <li class="list-item">
                <a href="sponsers.html">Sponsors</a>
            </li>
            <li class="list-item">
                <a href="careers.html">Staff</a>
            </li>
        </ul>
    </nav>
    <h3 class="offer">~About Us~</h3>
    <div class="badge-container">
        <img src="/static/badge.png" alt="Badge">
    </div>

    <div class="img-containerA">
        <img src="/static/bsand.png" alt="Coffee Shop">
    </div>

    <div class="img-containerB">
        <img src="/static/crossaint.png" alt="Coffee Shop">
    </div>

    <div class="img-containerD">
        <img src="/static/vancoff.png" alt="Coffee Shop">
    </div>

    <div class="img-containerC">
        <img src="/static/pancake.png" alt="Coffee Shop">
    </div>
    

        <h1 class="mission">~Our Mission~</h1>
        <div class="content3">
            <ul class="text-content3">
                <p>
                Here at the coffee shop we strive to
                Lorem ipsum dolor sit amet jopal danno
               <br> elit. goalin
                Ea dignissimos iusto quod fugiat gualap
                nonsh bluma hula bunga<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>aliquid 
                qui dolorum?
                Here at hte coffee shop we strive to
                Lorem ipsum dolor <br> elit. goalin
                Ea dignissimos iusto quod fugiat gualap
                nonsh bluma hula bungat<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>tobopod 
                qui dolorum baskquen antelok ablem opplista begmonk jark pould et?
               </p>
            </ul>
        </div>
        <div class="img-container">
            <img id="cbean" src="/static/c-Beans.png" alt="Coffee Shop">
        </div>
        <div class="thin-line"></div>

        <footer>
            <nav class="navbar2">
                <ul class="list2">
                    <li class="list-item2">
                        <a id="nav2" href="about.html">About</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="contact.html">Register</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="menu.html">Menu</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="sponsers.html">Sponsors</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="careers.html">Staff</a>
                    </li>
                </ul>
        </footer>

        <h4>𓎩Coffee Shop</h4>
        <h5>1208 SE 35th Blvd, 99024  Los Angeles, CA</h5>
        <h6>CoffeeShop@Gmail.com | 626-009-4562</h6>
        <div class="copyright">
            <h6> Copyright © Developer All rights reserved</h6>
        </div>

        <script src="static/animate.js"></script>
</body>
</html>