<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title>About</title>
</head>
<body>

    <nav class="navbar">
        <h1 class="logoName">𓎩
          <a href="http://127.0.0.1:8000/">Coffee Shop</a></h1>
        <h3>☕︎</h3>
        <ul class="list">
            <li class="list-item">
                <a href="about.html">About</a>
            </li>
            <li class="list-item">
                <a href="menu.html">Menu</a>
            </li>
            <li class="list-item">
                <a href="contact.html">Register</a>
            </li>
            <li class="list-item">
                <a href="sponsers.html">Sponsors</a>
            </li>
            <li class="list-item">
                <a href="careers.html">Staff</a>
            </li>
        </ul>
    </nav>
    <div class="img-container6">
        <img class="img6" src="/static/caramel.png" alt="caramel">
    </div>
    
    <h3 class="offer">~Signature Items~</h3>
    <div class="content">
        <ul class="text-content">
            <p>[Caramel Iced Coffee]
            Lorem ipsum dolor sit amet
            consectetur adipisicing<br> elit. 
            Ea dignissimos iusto quod fugiat 
            non hunda func abso intum bravet<br> aspernatur, animi recusandae 
            deserunt jingo antobem sandheld adlow<br> odit dolor. Tempora, ipsam
            laudantium? Minus iusto rem est candet fon<br>aliquid 
            qui dolorum baskquen antelok ablem opplista begmonk aplid?
           </p>

        </ul>
    </div>
        <div class="img-container8">
            <img class="img8" src="/static/sandwich.png" alt="Bagel_Sandwich">
        </div>
        <h3 class="offer2"></h3>
        <div class="content2">
            <ul class="text-content2">
                <p>[Sausage, Egg & Cheese]
                Lorem ipsum dolor sit amet
                consectetur adipisicing<br> elit. 
                Ea dignissimos iusto quod fugiat 
                nonsh bluma hula bunga madine norlet<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>aliquid 
                qui dolorum?
               </p>
            </ul>
        </div>

        <h1 class="mission">~Our Mission~</h1>
        <div class="content3">
            <ul class="text-content3">
                <p>
                Here at the coffee shop we strive to
                Lorem ipsum dolor sit amet jopal danno
               <br> elit. goalin
                Ea dignissimos iusto quod fugiat gualap
                nonsh bluma hula bunga<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>aliquid 
                qui dolorum?
                Here at hte coffee shop we strive to
                Lorem ipsum dolor <br> elit. goalin
                Ea dignissimos iusto quod fugiat gualap
                nonsh bluma hula bungat<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>aliquid 
                qui dolorum?
               </p>
            </ul>
        </div>
        <div class="img-container">
            <img src="/static/coffeeBG.png" alt="Coffee Shop">
        </div>
        <script src="static/animate.js"></script>
</body>
</html>