<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/careers.css">
    <title>Staff</title>
</head>
<body>

    <nav class="navbar">
        <h1 class="logoName">𓎩
          <a href="http://127.0.0.1:8000/">Coffee Shop</a></h1>
          <h3>☕︎</h3>
        <ul class="list">
            <li class="list-item">
                <a href="about.html">About</a>
            </li>
            <li class="list-item">
                <a href="contact.html">Subscribe</a>
            </li>
            <li class="list-item">
                <a href="menu.html">Menu</a>
            </li>
            <li class="list-item">
                <a href="sponsers.html">Sponsors</a>
            </li>
            <li class="list-item">
                <a href="careers.html">Staff</a>
            </li>
        </ul>
    </nav>
    <div class="img-container6">
        <img class="img6" src="/static/guy1.png" alt="guy1">
    </div>
    
    <h3 class="offer">~Meet the staff~</h3>
    <ul class="icons">
        <li>
            <a href="https://www.Twitter.com/" target="_blank">
                <img src="static/tweet.png">
            </a>
        </li>
        <li>
            <a href="https://www.Instagram.com/" target="_blank">
                <img src="static/instagram.png">
            </a>
        </li>
        <li>
            <a href="https://www.facebook.com/" target="_blank">
                <img src="static/fb.png">
            </a>
        </li>
    </ul>
    <div class="content">
        <ul class="text-content">
            <p>[Ronaldo Morales]
            Lorem ipsum dolor sit amet
            (manager) adipisicing<br> elit. 
            Ea dignissimos iusto quod fugiat 
            non hunda func abso intum bravet<br> aspernatur, animi recusandae 
            deserunt jingo antobem sandheld adlow<br> odit dolor. Tempora, ipsam
            laudantium? Minus iusto rem est candet fon<br>aliquid 
            qui dolorum baskquen antelok ablem opplista begmonk et aplid!
           </p>

        </ul>
    </div>
        <div class="img-container8">
            <img class="img8" src="/static/guy4.png" alt="guy4">
        </div>
        <h3 class="offer2"></h3>
        <div class="content2">
            <ul class="text-content2">
                <p>[Karly Hemnfield]
                Lorem ipsum dolor sit amet
                (barista) adipisicing flund et<br> elit. 
                Ea dignissimos iusto quod fugiat 
                nonsh bluma hula bunga madine norlet<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>aliquid 
                qui dolorum toro!
               </p>
            </ul>
        </div>

        <h1 class="founder">~Founder~</h1>
        <div class="content3">
            <ul class="text-content3">
                <p>
                [Tommy Ward] Here at the coffee shop we strive to
                Lorem ipsum dolor sit amet 
               <br> elit. (owner)
                Ea dignissimos iusto quod fugiat gualap
                nonsh bluma hula bunga<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>aliquid 
                qui dolorum?
                Here at hte coffee shop we strive to
                Lorem ipsum dolor <br> elit. goalin
                Ea dignissimos iusto quod fugiat gualap
                nonsh bluma hula bungat<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>aliquid 
                qui dolorum? Comnolp lorm kobos lml et oplu dikol romlpolu et sa bein!
               </p>
            </ul>
        </div>
        <div class="img-container9">
            <img class="img9" src="/static/guy2.png" alt="guy2">
        </div>
        <img id="img_6" class="img6" src="/static/vanilla.png" alt="hot_coco">
    <div class="footer-container">
        <footer>
            <nav class="navbar2">
                <ul class="list2">
                    <li class="list-item2">
                        <a id="nav2" href="about.html">About</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="contact.html">Register</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="menu.html">Menu</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="sponsers.html">Sponsors</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="careers.html">Staff</a>
                    </li>
                </ul>
        </footer>
        <h4>𓎩Coffee Shop</h4>
        <h5>1208 SE 35th Blvd, 99024  Los Angeles, CA</h5>
        <h6>CoffeeShop@Gmail.com | 626-009-4562</h6>
        <div class="copyright">
            <h6> Copyright © Developer All rights reserved</h6>
        </div>
    </div>
</body>
</html>