<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
     href="static/contact.css">
    <title>Register</title>

</head>
<body>
    <nav class="navbar">
        <h1 class="logoName">𓎩
          <a href="http://127.0.0.1:8000/">Coffee Shop</a></h1>
        <h3>☕︎</h3>
        <ul class="list">
            <li class="list-item">
                <a href="about.html">About</a>
            </li>
            <li class="list-item">
                <a href="contact.html">Subscribe</a>
            </li>
            <li class="list-item">
                <a href="menu.html">Menu</a>
            </li>
            <li class="list-item">
                <a href="sponsers.html">Sponsors</a>
            </li>
            <li class="list-item">
                <a href="careers.html">Staff</a>
            </li>
        </ul>
    </nav>
        <h3 class="formName">~Join Now~</h3>
        <ul class="icons">
            <li>
                <a href="https://www.Twitter.com/" target="_blank">
                    <img src="static/tweet.png">
                </a>
            </li>
            <li>
                <a href="https://www.Instagram.com/" target="_blank">
                    <img src="static/instagram.png">
                </a>
            </li>
            <li>
                <a href="https://www.facebook.com/" target="_blank">
                    <img src="static/fb.png">
                </a>
            </li>
        </ul>
        <form id="review_Form" method="POST" action="{% url 'reviewForm' %}">
            {% csrf_token %}
            <div class="form-fields">
                {{form.as_p}}
                <input type="submit" value="Subscribe" id="submitForm">
            </div>
        </form>
        <div class="img-container">
            <img id="cbean" src="/static/cbean2.png" alt="Coffee Shop">
        </div>
        
        <script src="static/animate.js"></script>
</body>
</html>
