<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
     href="static/styles.css">
    <title>Home</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="logoName">𓎩
          <a class="nameLogo" href="http://127.0.0.1:8000/">
            Coffee Shop
          </a>
        </h1>
        <h3>☕︎</h3>
        <ul class="list">
            <li class="list-item">
                <a href="about.html">About</a>
            </li>
            <li class="list-item">
                <a href="contact.html">Subscribe</a>
            </li>
            <li class="list-item">
                <a href="menu.html">Menu</a>
            </li>
            <li class="list-item">
                <a href="sponsers.html">Sponsors</a>
            </li>
            <li class="list-item">
                <a href="careers.html">Staff</a>
            </li>
        </ul>
    </nav>

    <div class="img-container">
        <img src="/static/coffeeBG.png" alt="Coffee Shop">
        <h3 class="team">Serving coffee everyday 7am-4pm</h3>
        <div class="team-content">
            <div class="text-team-content">
                <button class="btn" type="button">
                    <a href="/menu.html">REVIEW MENU</a>
                </button>
            </div>
            <div class="text-team-content2">
                <button class="btn2" type="button">
                    <a href="contact.html">SIGN UP HERE</a>
                </button>
            </div>
        </div>
    </div>
    <script src="static/animate.js"></script>
</body>
</html>