<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"
     href="static/menu.css">
    <title>Menu</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="logoName">𓎩
          <a href="http://127.0.0.1:8000/">Coffee Shop</a></h1>
        <h3>☕︎</h3>
        <ul class="list">
            <li class="list-item">
                <a href="about.html">About</a>
            </li>
            <li class="list-item">
                <a href="contact.html">Subscribe</a>
            </li>
            <li class="list-item">
                <a href="menu.html">Menu</a>
            </li>
            <li class="list-item">
                <a href="sponsers.html">Sponsors</a>
            </li>
            <li class="list-item">
                <a href="careers.html">Staff</a>
            </li>
        </ul>
    </nav>
    <h3 class="offer">~Menu~</h3>
    <div class="content">
        <ul class="text-content">
            <p><strong>
                Vanilla Iced Coffee:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto 
            quod fugiat non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam laudantium?
             Minus iusto rem est aliquid qui dolorum?
             <strong><br>$4.99</strong></p>
            <p><strong>
                Strawberry Lemonade:
            </strong>
            Lorem ipsum dolor sit amet consectetur a
            dipisicing elit. Ea dignissimos iusto quod 
            fugiat non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam laudantium? 
            Minus iusto rem est aliquid qui dolorum?
            <strong><br>$5.98</strong></p>
            <p><strong>
                Irish Earl Grey Tea:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae deserunt odit dolor. 
            Tempora, ipsam laudantium? Minus iusto rem est aliquid
             qui dolorum?<strong><br>$2.98</strong></p>
            <p><strong>
                Dark Roasted Coffee:
            </strong>
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam 
            laudantium? Minus iusto rem est aliquid 
            qui dolorum?<strong><br>$3.98</strong></p>
            <p><strong>
                Prime Hot Chocolate:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae deserunt odit dolor. 
            Tempora, ipsam laudantium? Minus iusto rem est aliquid
            qui dolorum?<strong><br>$2.99</strong></p>
            <p><strong>
                Caramel Iced Coffee:
            </strong>
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Ea dignissimos iusto quod fugiat non 
            aspernatur, animi recusandae deserunt 
            odit dolor. Tempora, ipsam laudantium? 
            Minus iusto rem est aliquid qui dolorum?
            <strong><br>$4.99</strong></p>
        </ul>
    </div>
    <div class="content2">
        <ul class="text-content2">
            <p><strong>
                Egg & Cheese Bagel:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto 
            quod fugiat non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam laudantium?
             Minus iusto rem est aliquid qui dolorum?
             <strong><br>$8.99</strong></p>
            <p><strong>
                Bacon & Egg Crossaint:
            </strong>
            Lorem ipsum dolor sit amet consectetur a
            dipisicing elit. Ea dignissimos iusto quod 
            fugiat non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam laudantium? 
            Minus iusto rem est aliquid qui dolorum?
            <strong><br>$7.98</strong></p>
            <p><strong>
                3 Blueberry Pancakes:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae deserunt odit dolor. 
            Tempora, ipsam laudantium? Minus iusto rem est aliquid
             qui dolorum?<strong><br>$12.98</strong></p>
            <p><strong>
                3 Buttermilk Pancakes:
            </strong>
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam 
            laudantium? Minus iusto rem est aliquid 
            qui dolorum?<strong><br>$12.98</strong></p>
            <p><strong>
                Maple French Toast:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae deserunt odit dolor. 
            Tempora, ipsam laudantium? Minus iusto rem est aliquid
            qui dolorum?<strong><br>$8.99</strong></p>
            <p><strong>
                Breakfast Burrito:
            </strong>
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Ea dignissimos iusto quod fugiat non 
            aspernatur, animi recusandae deserunt 
            odit dolor. Tempora, ipsam laudantium? 
            Minus iusto rem est aliquid qui dolorum?
            <strong><br>$13.99</strong></p>
        </ul>
    </div>
    <div class="content3">
        <ul class="text-content3">
            <p><strong>
                Loaded French Fries:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto 
            quod fugiat non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam laudantium?
             Minus iusto rem est aliquid qui dolorum?
             <strong><br>$10.99</strong></p>
            <p><strong>
                Steak & Potatoes:
            </strong>
            Lorem ipsum dolor sit amet consectetur a
            dipisicing elit. Ea dignissimos iusto quod 
            fugiat non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam laudantium? 
            Minus iusto rem est aliquid qui dolorum?
            <strong><br>$17.98</strong></p>
            <p><strong>
                Egg & Cheese Omlette:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae deserunt odit dolor. 
            Tempora, ipsam laudantium? Minus iusto rem est aliquid
             qui dolorum?<strong><br>$7.98</strong></p>
            <p><strong>
                Warmed Maple Oatmeal:
            </strong>
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae 
            deserunt odit dolor. Tempora, ipsam 
            laudantium? Minus iusto rem est aliquid 
            qui dolorum?<strong><br>$8.98</strong></p>
            <p><strong>
                Toasted Asiago Bagel:
            </strong>
            Lorem ipsum dolor sit amet consectetur 
            adipisicing elit. Ea dignissimos iusto quod fugiat 
            non aspernatur, animi recusandae deserunt odit dolor. 
            Tempora, ipsam laudantium? Minus iusto rem est aliquid
            qui dolorum?<strong><br>$2.99</strong></p>
            <p><strong>
                Chicken, Egg & Cheese:
            </strong>
            Lorem ipsum dolor sit amet 
            consectetur adipisicing elit. 
            Ea dignissimos iusto quod fugiat non 
            aspernatur, animi recusandae deserunt 
            odit dolor. Tempora, ipsam laudantium? 
            Minus iusto rem est aliquid qui dolorum?
            <strong><br>$7.99</strong></p>
        </ul>
    </div>
    
    <div class="img-container">
        <img id="cbean" src="/static/cbean2.png" alt="Coffee Shop">
    </div>
    <script src="static/animate.js"></script>
</body>
</html>